<form method="post" action="{{ path('app_groupe_edit', {'id': groupe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir modifier cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('save' ~ groupe.id) }}">
    <button class="btn btn-success btn-sm">Enregistrer</button>
</form>